@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #272838;
    --cor-secundaria: #F9F8F8;
    --cor-terciaria: #F3DE8A;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--fonte-secundaria);
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 4% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 92px;
}

.apresentacao__conteudo {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 70%;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    line-height: 68px;
}

.titulo-destaque {
    color: var(--cor-terciaria);
    padding: 5px;
    margin: 1px;
}

.apresentacao__conteudo__subtitulo {
    font-size: 2rem;
    font-family: var(--fonte-primaria);
    line-height: 68px;
}

.apresentacao__conteudo__texto {
    font-size: 1.75rem;
    font-family: var(--fonte-secundaria);
    line-height: 38px;
}

.apresentacao__conteudo__list {
    margin-left: 30px;;
}

.apresentacao__conteudo__list__curiosidade {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    line-height: 38px;
    list-style: circle;

}

.apresentacao__button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__button__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__button__link {
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
}

.apresentacao__button__link:hover {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
}

.apresentacao__imagem {
    width: 40%;

}

.rodape {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 11%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

}